<!DOCTYPE html>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Vue Telemetry</title>
  <link rel="stylesheet" href="./popup.css">

  <% if (NODE_ENV === 'development') { %>
  <!-- Load some resources only in development environment -->
  <% } %>
</head>

<body>
  <div id="vtm">

  </div>
  <script src="popup.js"></script>
  <script type="application/javascript" src="/polyfills/browser-polyfill.js"></script>
  <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
</body>

</html>